rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /accounts/{email} {
      allow read, update, delete, create: if request.auth != null && request.auth.token.email == email;
      match /apis/{apiId} {
        allow read, write: if request.auth != null && request.auth.token.email == email;
      }
    }
  }
}